*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    color: white;
    background-color:#1a1a1a ;
}


/* header  */
header{
    height: 40px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
}
.rec{
    display: flex;
    align-items: center;

}
.fa-shield-virus{
    color: green;
    margin: 0 10px;
    padding: 2px;
    background-color: black;
    border-radius: 4px;
}


.circle-rec{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #9e9e9e;
    margin: 0 10px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.point-circle{
    height: 6px;
    width: 6px;
    background-color: red;
    border-radius: 50%;
}
.text-rec{
    font-size: 20px;
}
.box-rec{
    height: 30px;

    background-color: black;
    display: flex;
    align-items: center;
    border-radius: 4px;
    
}
.view{
    background-color: #212122;
    display: flex;
    align-items: center;
    padding: 5px;
    margin-right: 10px;
    border-radius: 8px;
}
.fa-th{
    margin: 7px 3px 0 0;
}
/*/ header  */


/* main */
 main{
     display: flex;
     height: calc(100vh - 110px);
     /* background-color: yellow; */
 }

 .col, .col-2{
     width: 10%;
     /* border: 3px solid blue; */
     display: flex;
 }
 .col-2{
    width: 80%;
   
    display: flex;
    flex-wrap: wrap;
    /* align-items: flex-start; */
    justify-content: space-between;
    align-content: space-between;
   
    
}
.arrow-left, .arrow-right{
    display: flex;
    height:80px;
    width: 50px;
    background-color:black ;
    font-size: 40px;
    color: #2db9ff;
    align-self: center;
    align-items: center; 
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 2px;
}
.row-right{
    justify-content: flex-end;

}
.page{
    color: white;
    font-size: 16px;
    padding-bottom: 5px;
}

.card-hero{
    width: calc((100% - 20px) / 5);
    height: calc((100% - 20px) / 5);
  
    
    
}
.img-card{
    width: 100%;
    height: 100%;
     object-fit: cover; 
     border-radius: 8px;

      
}


/* footer */

footer{
    background-color:#222426 ;
    height: 70px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-around;
}
footer i{
    font-size: 20px;
}

.mute-video{
     width:20% ; 
     height: 100%;
}

.footer-left-nav, .footer-center-nav{
    height: 100%;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.footer-left-nav li, .footer-center-nav li{
    text-align: center;
     padding-right: 30px;
     color:#aaabac; 

}
#condividi-schermo{
    color: #23d959;
}
.fa-pause{
    margin-right: 5px;
}

.arrow-position{
    position: relative;
}

.fa-chevron-up, .num-partecipanti{
    position: absolute;
    top:0;
    right: 25px;
    font-size:10px ;
}
.num-partecipanti{
    top: 0;
    right:40px;
    font-size: 12px;
}
.btm {
    display: flex;
    align-items: center;
}
button{
    border-radius: 10px;
    background-color: red;
    border: none;
    color: white;
    width: 100%;
    padding: 10px;
    
    
}